extends ../layout

block links
  link(rel='stylesheet', href='/stylesheets/fs.css')
  link(rel='stylesheet', href='/stylesheets/sub/directory.css')
  script(src="/javascripts/fs.js")
  script(src="/javascripts/sub/directory.js")

block content
  #main
    #filePreview
      img#previewImage(src="https://via.placeholder.com/150/" width="150" height="150")
      #previewInfo
        #itemName name: ...
        #itemSize size: ...
        #itemType type: ...
        #itemLink
          #linkLabel link: ...
          a#linkValue(href="")
    #fileWrapper
