extends ../layout

block links
  link(rel='stylesheet', href='/stylesheets/sub/hmpg.css')
  link(rel='stylesheet', href='/stylesheets/fs.css')
  script(src="/javascripts/fs.js")
  script(src="/javascripts/widgets.js")
  script(src="/javascripts/sub/hmpg.js")  

block content
  #main
    #hmpg-1
    #hmpg-2
