extends ../layout

block links
  link(rel='stylesheet', href='/stylesheets/sub/hmpg.css')
  link(rel='stylesheet', href='/stylesheets/widgets.css')
  script(src="/javascripts/fs.js")
  script(src="/javascripts/widgets.js")
  script(src="/javascripts/sub/hmpg.js")  

block content
  #main
    #info [page under construction]
