doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    script(src='/javascripts/layout.js')
    block links
  body  
    ul#nav
      li#nav-logo
        a(href="http://hmpg.io") hmpg
      li#nav-wrapper
        if user
          #nav-profile #{user}
        else
          button
            a(href="http://hmpg.io/login") login
          button
            a(href="http://hmpg.io/register") register
        ul#nav-submenu.inactive
          li
            a(href="http://" + user + ".hmpg.io") your hmpg
          li
            a(href="http://hmpg.io/upload") upload
          li
            a(href="http://hmpg.io/files") files
          li
            a(href="http://hmpg.io/account") account
          li
            a(href="http://hmpg.io/settings") settings
          li
            a(href="http://hmpg.io/logout") logout
        if user
          li#nav-arrow
            div ▼
    block content
