doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    script(src="https://kit.fontawesome.com/a8d4e15e24.js" crossorigin="anonymous")
    script(src='/javascripts/layout.js')
    if login
      script.
        const userInfo = !{JSON.stringify(login)}
    block links
  body  
    ul#nav.nav-incorporated
      li#nav-logo
        a(href="https://hmpg.io") hmpg
      li#nav-wrapper
        if login
          #nav-profile #{login.user}
        else
          a.navButton(href="https://hmpg.io/login") login
          a.navButton(href="https://hmpg.io/register") register
        ul#nav-submenu.inactive
          li
            a(href="https://" + user + ".hmpg.io") your hmpg
          li
            a(href="https://hmpg.io/upload") upload
          li
            a(href="https://hmpg.io/files") files
          li
            a(href="https://hmpg.io/account") account
          li
            a(href="https://hmpg.io/settings") settings
          li
            a(href="https://hmpg.io/logout") logout
        if login
          li#nav-arrow
            div ▼
    block content
