#main {
  padding: 30px;
}

#main>div {
  margin-bottom: 10px;
}

#main>* {
  margin-bottom: 10px;
}

#login > input {
  margin-right: 5px;
}

#registerlink {
  text-decoration: none;
  color: #000000;
  display: block;
}

#registerlabel {
  padding-bottom: 10px;
}
