/*
style flow:
-width/height
-display/flex + attributes
-margin
-padding
-other
*/

/* fonts */

@font-face {
  font-family: lexendzetta;
  src: url(../fonts/lexendzetta.ttf);
}

@font-face {
  font-family: sora;
  src: url(../fonts/sora.ttf);
}

/* general styling */

html {
  height: 100%;
}

body {
  height: calc(100% - 70px);
}

body * {
  font-family: sora;
}

#main {
  margin-top: 50px;
}

/* ui elements */

/* ui-two-columns */

.ui-two-columns {
  width: 100%;
  height: 100%;
  display: flex;
}

.ui-left-column, .ui-right-column {
  width: 50%;
}

/* ui-columns */

.ui-columns {
  display: flex;
  flex-wrap: wrap;
}

/* ui-button */

.ui-button {
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
}

.ui-button:hover {
  cursor: pointer;
}

/* navigation */

#nav {
  transition: 0.3s;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  z-index: 15;
}

#nav>li {
  align-items: center;
  display: flex;
}

#nav a, #nav-profile{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 15px;
  color: #f08a5d;
  text-decoration: none;
  padding: 10px;
}

#nav a:hover {
  background-color: #f08a5d;
  color: #fff;
}

#nav-logo a {
  font-family: lexendzetta;
  font-size: 30px;
  padding: 0 20px;
}

#nav-logo a:hover {
  background-color: #fff;
  color: #f08a5d;
}

#nav .navButton {
  width: 60px;
  padding: 0 20px;
}

/* nav submenu */
#nav-submenu {
  width: 100%;
  background-color: #fff;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  top: 50px;
  z-index: 10;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

#nav-submenu li {
  display: block;
}

#nav-submenu li a {
  display: block;
  text-align: center;
}

#nav .active {
  display: flex;
}

#nav .inactive {
  display: none;
}

#nav-arrow {
  color: #f08a5d;
  padding: 10px;
  /* make width about equal to logo */
  margin-left: 60px;
}

@media only screen  and (min-width : 1224px) {
  #nav-submenu {
    width: 150px;
  }

  #nav-logo {
    flex-grow: 1;
  }

  #nav-arrow {
    margin-left: 0;
  }
}
