/* files */

#files {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
}

/* file preview */

#preview {
  width: 100%;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}

#previewWrapper {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e3e3e3;
}

#previewContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#previewContent * {
  margin-bottom: 10px;
  text-align: center;
}

#imageWrapper {
  width: 300px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#previewImage {
  max-width: 300px;
  max-height: 75px;
}

#previewTitle {
  width: 80%;
  font-weight: bold;
  color: #f08a5d;
  overflow-wrap: anywhere;
}

#previewInfo {
  width: 80%;
  font-size: 13px;
}

#previewInfo a {
  color: #000;
}

/* file content */

#content {
  flex: 1;
  padding: 30px;
  overflow: auto;
}

/* items */

.item {
  display: flex;
  align-items: center;
  height: 50px;
  flew-wrap: wrap;
}

.itemArrow {
  width: 50px;
  color: #6a2c70;
  text-align: center;
  font-size: 30px;
  /* transition: 0.2s; */
}

.itemArrow:hover {
  cursor: pointer;
}

.activeArrow {
  /* transition: 0.2s; */
  transform: rotate(90deg);
}

.itemIcon {
  width: 50px;
  text-align: center;
  font-size: 20px;
}

.itemName {
  display: block;
  font-size: 16px;
  padding: 17px 10px;
  max-width: calc(100% - 120px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemName:hover {
  cursor: pointer;
}

.itemChildren {
  padding-left: 25px;
  border-left: 2px solid #bababa;
  margin-left: 25px;
  overflow: hidden;
}

.inactiveChildren {
  height: 0;
}

/* desktop formatting */

@media only screen  and (min-width : 1224px) {
  /* file preview */

  #preview {
    width: 350px;
    box-shadow: none;
  }

  #selectedDisplay {
    width: 350px;
  }
}

/* gallery */

#galleryButtons {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);
  height: 50px;
  position: relative;
  bottom: calc(50% + 95px);
  margin: 0 20px;
}

#galleryButtons > div {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  user-select: none;
}

#galleryButtons > div:hover {
  cursor: pointer;
}

#galleryWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #a1a1a1;
}

#galleryContent {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
}

#galleryPreviews {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  position: relative;
  top: -70px;
  background-color: rgba(0, 0, 0, 0.5);
}

.galleryPreview {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.galleryPreview:hover, .activePreview {
  outline: 3px solid white;
  cursor: pointer;
}
