extends ../layout

block links
  link(rel='stylesheet', href='/stylesheets/main/files.css')
  script(src="/javascripts/main/files.js")
  script(src="/javascripts/main/fs.js")

block content
  #main
    #directoryWrapper
      #createDirectory
        input#directoryLabel(type='text' name='directory' placeholder="directory")
        button#directoryButton create directory
    #filePreview
      img#previewImage(src="https://via.placeholder.com/150/" width="150" height="150")
      #previewInfo
        #itemName name: ...
        #itemSize size: ...
        #itemType type: ...
        #itemLink
          #linkLabel link: ...
          a#linkValue(href="")
    #fileActions
      #renameButton rename
      #deleteButton delete
    #fileWrapper
