extends ../layout

block links
  link(rel='stylesheet', href='/stylesheets/fs.css')
  link(rel='stylesheet', href='/stylesheets/main/files.css')
  script(src="/javascripts/fs.js")
  script(src="/javascripts/widgets.js")
  script(src="/javascripts/main/files.js")

block content
  #darken
  #addWrapper
    #addItem.popupWrapper
      .popupHeader
        p add item
        .closePopup#add x
      .popupContent
        #createDirectory
          .inputContainer
            p path:
            input#directoryInput(type='text' name='directory' placeholder="directory")
          .inputContainer
            p link length:
            input#linkInput(type="number" name="linkLength" min="4" max="16")
          .inputContainer
            p display style:
            select#displayInput(name='display')
              option(value='default' selected) default
              option(value='gallery') gallery
          .inputContainer
            button#directoryButton.popupButton create
            #addItemStatus
  #hmpgWrapper
    #hmpgAdd.popupWrapper
      .popupHeader
        p add to hmpg
        .closePopup#hmpg x
      .popupContent
        #createHmpg
          .inputContainer
            p display style:
            select#displayInput(name='display')
              option(value='default' selected) default
              option(value='gallery') gallery
          .inputContainer
            button#hmpgButton.popupButton add
            #addItemStatus
  #main
    #previewWrapper
    #fileActions
      #hmpgTriggerButton.inactiveButton hmpg
      #renameButton.inactiveButton rename
    #fileWrapper
    #selectionActions
      #addTriggerButton +
      #moveButton.inactiveButton move
      #deleteButton.inactiveButton delete
