extends ../layout

block links
  link(rel='stylesheet', href='/stylesheets/fs.css')
  link(rel='stylesheet', href='/stylesheets/main/files.css')
  script(src="/javascripts/fs.js")
  script(src="/javascripts/main/files.js")

block content
  #main
    #filePreview
      #imageWrapper
        img#previewImage(src="https://via.placeholder.com/150/")
      #previewInfo
        #itemName name: ...
        #itemSize size: ...
        #itemType type: ...
        #itemLink
          #linkLabel link: ...
          a#linkValue(href="")
    #fileActions
      #renameButton.inactiveButton rename
    #directoryWrapper
      #createDirectory
        input#directoryLabel(type='text' name='directory' placeholder="directory")
        input#linkInput(type="number" name="linkLength")
        button#directoryButton create
    #fileWrapper
    #selectionActions
      #moveButton.inactiveButton move
      #deleteButton.inactiveButton delete
    #disclaimer please don't move directories containing items just yet. it will work, but the items within the directory will disappear and the links will become unusable
