extends ../layout

block links
  link(rel='stylesheet', href='/stylesheets/fs.css')
  link(rel='stylesheet', href='/stylesheets/main/files.css')
  script(src="/javascripts/fs.js")
  script(src="/javascripts/widgets.js")
  script(src="/javascripts/main/files.js")

block content
  #main
    #previewWrapper
    #fileActions
      #renameButton.inactiveButton rename
    #directoryWrapper
      #createDirectory
        input#directoryLabel(type='text' name='directory' placeholder="directory")
        input#linkInput(type="number" name="linkLength")
        button#directoryButton create
    #fileWrapper
    #selectionActions
      #moveButton.inactiveButton move
      #deleteButton.inactiveButton delete
