extends ../layout

block links
  link(rel='stylesheet', href='/stylesheets/main/index.css')

block content
  #main
    #info
      #subtitle a simple, extremely customizable file organization and hosting site
