extends ../layout

block links
  link(rel='stylesheet', href='/stylesheets/main/index.css')

block content
  #main
    #info
      #subtitle a simple, extremely customizable file organization and hosting site
    form#login(method="POST" action="/")
      input#username(type='text' name='username' placeholder="username")
      input#password(type='password' name='password' placeholder="password")
      button#submit(type="submit") submit
    #register
      #registerlabel don't have an account?
      button#registerbutton
        a#registerlink(href="/register") register
