extends ../layout

block links
  link(rel='stylesheet', href='/stylesheets/main/index.css')

block content
  #main
    #info
      h1 A place for your hobbies.
      p hmpg is a free, extremely customizable file organization and hosting site geared towards housing ever-changing personal projects.
    #account
      a#registerButton(href="/register") register
      p or
      a#loginButton(href="/login") login
