extends action

block links
  script(src="/javascripts/main/login.js")

block content
  h1 Log In
  #status <br>
  input#usernameInput(type="text" placeholder="username" maxlength="16")
  input#passwordInput(type="password" placeholder="password" maxlength="32")
  #submit.ui-button submit
  p Don't have an account?
  a(href="/register").ui-button register
