extends action

block links
  script(src="/javascripts/main/register.js")

block content 
  h1 Register
  #status <br>
  input#usernameInput(type="text" placeholder="username" maxlength="16")
  input#passwordInput(type="password" placeholder="password" maxlength="32")
  input#confirmInput(type="password" placeholder="confirm password" maxlength="32")
  #submit.ui-button submit
  p Already have an account?
  a(href="/login").ui-button login
