extends ../layout

block links
  link(rel='stylesheet', href='/stylesheets/main/up.css')
  link(rel='stylesheet', href='/stylesheets/main/upload.css')
  script(src="/javascripts/up.js")
  script(src="/javascripts/main/upload.js")

block content
  #dropZone
  #main
    #uploadWrapper
      #dropperWrapper
        #fileDropper
          #uploadIcon.fas.fa-upload
          p Drag and drop items or
          button#uploadButton.ui-button(onclick='document.querySelector("#fileInput").click()') Upload
      #fileWrapper
        h1 Files
        #uploadContent
  input#fileInput(type='file' name='sampleFile' style="display: none" multiple)
