#main {
  margin: 30px;
}

#fileActions, #selectionActions {
  display: flex;
  flex-direction: row;
}

#fileActions > div, #selectionActions > div {
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  border-radius: 5px;
  margin-right: 10px;
  user-select: none;
}

#renameButton {
  background-color: #000000;
}

#moveButton {
  background-color: #000000;
}

#deleteButton {
  background-color: #db6b58;
}

.inactiveButton {
  opacity: 0.5;
}

.inactiveButton:hover {
  cursor: default;
}

.activeButton:hover {
  cursor: pointer;
}
