/* main */

#main {
  height: 100%;
}

/* menu */

#menu {
  padding: 30px;
  user-select: none;
  width: 110px;
  position: fixed;
  height: 100%;
  background-color: #fff;
  margin-top: -40px;
  margin-left: -170px;
  transition: margin-left 0.3s;
}

#menuButton {
  width: 40px;
  height: 40px;
  position: relative;
  font-size: 30px;
  background-color: #fff;
  color: #f08a5d;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 140px;
  top: 10px;
}

.menuItem {
  display: flex;
  align-items: center;
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
}

.menuItem:hover, .activeItem {
  color: #f08a5d;
  border-bottom: 2px solid #f08a5d;
  margin-bottom: 8px;
  cursor: pointer;
}

.menuIcon {
  font-size: 20px;
  margin-right: 10px;
}

/* content */

#content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* body */

#contentBody {
  background-color: #e3e3e3;
  flex-grow: 1;
  height: calc(100% - 50px);
  overflow: auto;
}

.contentItem {
  flex-grow: 1;
  display: none;
}

.contentItem > * {
  margin: 30px 30px 0 30px;
  background-color: #fff;
}

.contentItem > *:last-child {
  margin-bottom: 30px;
}

.contentItem h1 {
  background-color: #6a2c70;
  height: 50px;
  display: flex;
  align-items: center;
  text-indent: 10px;
  color: #fff;
  font-size: 22px;
}

.contentItem h2 {
  background-color: #f08a5d;
  height: 30px;
  display: flex;
  align-items: center;
  text-indent: 10px;
  color: #fff;
}

.contentBody {
  display: flex;
  flex-direction: column;
}

.contentBody > * {
  margin: 15px 15px 0 15px;
}

.contentBody > *:last-child {
  margin-bottom: 15px;
}

.inputElement p {
  margin-bottom: 5px;
}

.contentBody .ui-button {
  background-color: #6a2c70;
}

.contentBody input[type=number] {
  width: 50px;
}

/* footer */

#contentFooter {
  height: 50px;
  display: flex;
  align-items: center;
}

#contentFooter .ui-button-collection {
  margin-left: 10px;
}

#cancelButton {
  background-color: #6a2c70;
}

#confirmButton {
  background-color: #f08a5d;
}

/* desktop formatting */

@media only screen  and (min-width : 1224px) {
  /* menu */

  #menu {
    margin: 0 !important;
  }

  #menuButton {
    display: none;
  }

  /* content */

  #content {
    margin-left: 170px;
  }

  /* body */

  .inputElement {
    display: flex;
    align-items: center;
  }

  .inputElement p {
    width: 175px;
  }

  #links .inputElement p {
    width: 250px;
  }
}
