/* main */

#dropZone {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

/* upload content */

#uploadContent {
  overflow: auto;
}
  
.uploadFile {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.uploadProgress {
  position: absolute;
  height: 46px;
  width: 0;
  background-color: #e3d3cc;
  border-bottom: 4px solid #f08a5d;
  transition: width 0.3s;
}

.uploadIcon {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.uploadName {
  position: relative;
  max-width: calc(100% - 130px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.uploadPercent {
  text-align: right;
  position: relative;
  margin-right: 10px;
  flex-grow: 1;
}