/* main */

#main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.itemCheckbox {
  display: none;
}

/* gallery */

#gallery {
  width: 100%;
  height: 100%;
}

/* desktop formatting */

@media only screen  and (min-width : 1224px) {
  /* main */

  #main {
    flex-direction: row-reverse;
  }
}
