#main {
  margin: 30px;
  display: flex;
}

#hmpg-1 {
  width: 500px;
  height: 500px;
}

#hmpg-2 {
  width: 500px;
  height: 500px;
}

#galleryWrapper {
  width: 100%;
  height: 100%;
}

#galleryButtons {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);
  height: 50px;
  position: relative;
  bottom: calc(50% + 95px);
  margin: 0 20px;
}

#galleryButtons > div {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  user-select: none;
}

#galleryButtons > div:hover {
  cursor: pointer;
}

#galleryWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #a1a1a1;
}

#galleryContent {
  width: 500px;
  height: 500px;
  position: absolute;
}

#galleryPreviews {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  position: relative;
  top: -70px;
  background-color: rgba(0, 0, 0, 0.5);
}

.galleryPreview {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.galleryPreview:hover, .activePreview {
  outline: 3px solid white;
  cursor: pointer;
}
